<form [formGroup]="colorForm">
  <label
    for="colors"    
    (click)="setCurrentColorEmpty()"
    [class]="getAllColorClass()"
    routerLink="/cars"
    >Renkler:</label
  >
  <select
    formControlName="color"
    class="form-select"
    id="colors"
  >
  <option selected>Seçiniz</option>
    <option
      *ngFor="let color of colors"
      [value]="color.id"
      [class]="getCurrentColorClass(color)"
      onchange="setCurrentColor(color)"
    >
      {{ color.colorName }}
    </option>
  </select>
  <button
    type="submit"
    class="btn btn-success mt-2"
    routerLink="/cars/color/{{ colorForm.value.color }}"
  >
    Submit
  </button>
</form>
