<!--
<table *ngIf="dataLoaded==true" class="table">
    <thead>
      <tr>
        <th>Kiralama Numarası</th>
        <th>Ad Soyad</th>
        <th>Marka Adı</th>
        <th>Model Adı</th>
        <th>Kiralama Tarihi</th>
        <th>Teslim Tarihi</th>
      </tr>
    </thead>
    <tr *ngFor="let rent of rents">
      <td>{{ rent.id }}</td>
      <td>{{ rent.firstName }}{{rent.lastName}}</td>
      <td>{{ rent.brandName }}</td>
      <td>{{ rent.modelName }}</td>
      <td>{{ rent.rentDate }}</td>
      <td>{{ rent.returnDate }}</td>
    </tr>
  </table>
-->

  <div style="min-height: 120px">
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
      <div class="card card-body" style="width: 300px">
        <button
          class="btn btn-primary"
          type="button"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
        >
          KİRALA
        </button>
      </div>
    </div>
  </div>