<thead>
    <div>
        <div>
            <td><h3>ARABALAR</h3></td>
        </div>
        <div>
            <tr><li *ngFor="let car of cars">
              <span class="badge text-bg-secondary"></span>
              {{ car.id }}
              <span class="badge text-bg-secondary"></span>
              {{ car.modelName }}
              <span (click)="deleteCar(car)" class="badge text-bg-secondary">Sil</span>
              <span class="badge text-bg-secondary"
              data-bs-toggle="collapse"
              href="#collapseExample"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
              (click)="patchValueClick(car)">Güncelle</span>
              </li></tr>

              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <form action="" [formGroup]="updateCarForm">
                    <div class="mb-3">
                      <div class="form-group">
                        <label for="updateId">Id</label>
                        <input
                          class="form-control"
                          type="number"
                          id="updateId"
                          formControlName="id"
                          [(ngModel)]="id"
                        />
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="form-group">
                        <label for="updateBrandId">Marka Numarası</label>
                        <input
                          class="form-control"
                          type="number"
                          id="updateBrandId"
                          formControlName="brandId"
                          [(ngModel)]="brandId"
                        />
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="form-group">
                        <label for="updateColorId">Renk Numarası</label>
                        <input
                          class="form-control"
                          type="number"
                          id="updateColorId"
                          formControlName="colorId"
                          [(ngModel)]="colorId"
                        />
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="form-group">
                        <label for="updateModelYear">Model Yılı</label>
                        <input
                          class="form-control"
                          type="number"
                          id="updateModelYear"
                          formControlName="modelYear"
                          [(ngModel)]="modelYear"
                        />
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="form-group">
                        <label for="updateDailyPrice">Günlük Fiyat</label>
                        <input
                          class="form-control"
                          type="number"
                          id="updateDailyPrice"
                          formControlName="dailyPrice"
                          [(ngModel)]="dailyPrice"
                        />
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="form-group">
                        <label for="updateDescription">Açıklama</label>
                        <input
                          class="form-control"
                          type="text"
                          id="updateDescription"
                          formControlName="description"
                          [(ngModel)]="description"
                        />
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="form-group">
                        <label for="updateModelName">Model Adı</label>
                        <input
                          class="form-control"
                          type="text"
                          id="updateModelName"
                          formControlName="modelName"
                          [(ngModel)]="modelName"
                        />
                      </div>
                    </div>
                  </form>
                  <div>
                    <button (click)="updateCar()" class="btn btn-success w-100">
                      Güncelle
                    </button>
                  </div>
                </div>
              </div>


        </div>
    </div>
    </thead>
    <br><br>
    <tbody>
    <div>
        <form action="" [formGroup]="addCarForm">
            <div class="mb-3">
              <div class="form-group">
                <label for="brandId">Marka No</label>
                <input
                  class="form-control"
                  type="number"
                  id="brandId"
                  formControlName="brandId"
                  [(ngModel)]="brandId"
                />
              </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                  <label for="colorId">Renk No</label>
                  <input
                    class="form-control"
                    type="number"
                    id="colorId"
                    formControlName="colorId"
                    [(ngModel)]="colorId"
                  />
                </div>
              </div>
              <div class="mb-3">
                <div class="form-group">
                  <label for="modelYear">Model Yılı</label>
                  <input
                    class="form-control"
                    type="number"
                    id="modelYear"
                    formControlName="modelYear"
                    [(ngModel)]="modelYear"
                  />
                </div>
              </div>
              <div class="mb-3">
                <div class="form-group">
                  <label for="dailyPrice">Günlük Fiyat</label>
                  <input
                    class="form-control"
                    type="number"
                    id="dailyPrice"
                    formControlName="dailyPrice"
                    [(ngModel)]="dailyPrice"
                  />
                </div>
              </div>
              <div class="mb-3">
                <div class="form-group">
                  <label for="description">Açıklama</label>
                  <input
                    class="form-control"
                    type="text"
                    id="description"
                    formControlName="description"
                    [(ngModel)]="description"
                  />
                </div>
              </div>
              <div class="mb-3">
                <div class="form-group">
                  <label for="modelName">Model Adı</label>
                  <input
                    class="form-control"
                    type="text"
                    id="modelName"
                    formControlName="modelName"
                    [(ngModel)]="modelName"
                  />
                </div>
              </div>
          </form>
          <div><button (click)="addCar()" class="btn btn-success w-100">Add Car</button></div>
    </div>
    </tbody>