<div style="min-height: 120px">
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
      <div class="card card-body" style="width: 300px">

        <button
          class="btn btn-primary"
          type="button"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
          (click)="checkFindeksScore()"
        >
          FINDEKS SORGULA
        </button>
        <br>
        <div class="content">
          <div class="col-md-12">
            <form action="" [formGroup]="addRentForm">
              <div class="mb-3">
                <div class="form-group">
                  <label for="rentDate">Kiralama Tarihi</label>
                  <input
                    class="form-control"
                    type="date"
                    id="rentDate"
                    formControlName="rentDate"
                    [(ngModel)]="rentDate"
                  />
                </div>
              </div>
              <div class="mb-3">
                <div class="form-group">
                  <label for="returnDate">İade Tarihi</label>
                  <input
                    class="form-control"
                    type="date"
                    id="returnDate"
                    formControlName="returnDate"
                    [(ngModel)]="returnDate"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
        <button
          class="btn btn-primary"
          type="button"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
          (click)="checkRulesForAdding()"
        >
          ONAYLA
        </button>
      </div>
    </div>
    <div>
    </div>
  </div>
  