<div *ngIf="dataLoaded == false" class="spinner-border text-dark" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Marka</th>
      <th>Model</th>
      <th>Renk</th>
      <th>Model Yılı</th>
      <th>Günlük Fiyatı</th>
      <th>Açıklama</th>
    </tr>
  </thead>
  <tr (click)="setCurrentCar(item)" routerLink="/carDetail/{{item.id}}" *ngFor="let item of cars">
    <td>{{ item.id }}</td>
    <td>{{ item.brandId }}</td>
    <td>{{ item.modelName }}</td>
    <td>{{ item.colorId }}</td>
    <td>{{ item.modelYear }}</td>
    <td>{{ item.dailyPrice }}</td>
    <td>{{ item.description }}</td>
  </tr>
</table>