<div class="search-box">
  <input
    type="text"
    id="filterText"
    name="filterText"
    class="form-control"
    placeholder="Araç Ara"
    [(ngModel)]="filterText"
  />
</div>

<div class="car-list">
  <div class="car-card" *ngFor="let cars of cars | carsFilter : filterText">
    <div class="car-image">
      <app-car-images-slider-by-car-id
        [currentCarIdFromParent]="cars.id"
      ></app-car-images-slider-by-car-id>
    </div>
    <div class="car-details">
      <h4 class="car-title">{{ cars.modelName }}</h4>
      <p class="car-brand">{{ cars.brandName }}</p>
      <ul class="car-info-list">
        <li class="car-color">{{ cars.colorName }}</li>
        <li class="car-description">{{ cars.description }}</li>
        <li class="car-price"><strong>{{ cars.dailyPrice | currency }}</strong></li>
      </ul>
    </div>
    <div class="car-action">
      <button>
      <app-route-to-car-detail-page-button
        [currentCarIdFromParent]="cars.id"
      ></app-route-to-car-detail-page-button>
    </button>
    </div>
  </div>