<thead>
  <div>
    <div>
      <td><h3>RENKLER</h3></td>
    </div>
    <div>
      <tr>
        <li *ngFor="let color of colors">
          <span class="badge text-bg-secondary"></span>
          {{ color.colorName }}
          <span class="badge text-bg-secondary"></span>
          {{ color.id }}
          <span (click)="deleteColor(color)" class="badge text-bg-secondary"
            >Sil</span
          >
          <span
            class="badge text-bg-secondary"
            data-bs-toggle="collapse"
            href="#collapseExample"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
            (click)="patchValueClick(color)"
            >Güncelle</span
          >
        </li>
      </tr>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <form action="" [formGroup]="updateColorForm">
            <div class="mb-3">
              <div class="form-group">
                <label for="id">Id</label>
                <input
                  class="form-control"
                  type="number"
                  id="id"
                  formControlName="id"
                  [(ngModel)]="id"
                />
              </div>
            </div>
            <div class="mb-3">
              <div class="form-group">
                <label for="updateName">Renk Adı</label>
                <input
                  class="form-control"
                  type="text"
                  id="updateName"
                  formControlName="colorName"
                  [(ngModel)]="colorName"
                />
              </div>
            </div>
          </form>
          <div>
            <button (click)="updateColor()" class="btn btn-success w-100">
              Güncelle
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</thead>
<br /><br />
<tbody>
  <div>
    <form action="" [formGroup]="addColorForm">
      <div class="mb-3">
        <div class="form-group">
          <label for="colorName">Renk Adı</label>
          <input
            class="form-control"
            type="text"
            id="colorName"
            formControlName="colorName"
            [(ngModel)]="colorName"
          />
        </div>
      </div>
    </form>
    <div>
      <button (click)="addColor()" class="btn btn-success w-100">
        Renk Ekle
      </button>
    </div>
  </div>
</tbody>
